/* .icon {
  height:140px;
  width:140px;
   margin-right:0; 
  left: 0;
  float: left;
  position: sticky;  
  top:0;
} */
/* *{
  overflow-x: hidden;
} */
<<<<<<< HEAD
body{
  font-family: 'Cinzel', serif;
}
=======
>>>>>>> upstream/dev
.container-fluid {
  height: 100%;
  /* overflow: hidden; */
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-block-end: initial;
<<<<<<< HEAD
  font-family: 'Cinzel', serif;
=======
>>>>>>> upstream/dev
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: darkred;
}

.text {
  color: darkgoldenrod;
<<<<<<< HEAD
  font-family: 'Cinzel', serif;
=======
  font-family: "Roboto Condensed";
>>>>>>> upstream/dev
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
.welcome{
    text-emphasis-color: filled double-circle blue  ;
<<<<<<< HEAD
    font-family: 'Cinzel', serif;
=======
>>>>>>> upstream/dev
}
img{
    display:block;
    width:90%;
    height:280px;
    padding:8px;


}
h2{
    font-size: 32px;
<<<<<<< HEAD
    font-family: 'Cinzel', serif;
=======
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
>>>>>>> upstream/dev
    text-decoration-color: black;
    text-underline-position: below;
}
.caption{
    text-align: center;
<<<<<<< HEAD
    font-family: 'Cinzel', serif;
}
.search-houses{
  width: 50%;
  text-align: center;
  padding-left: 30%;
  font-family: 'Cinzel', serif;
  
}
#jumb{
  width:900px;
  text-align: center;
  margin-left:500px;
  height: 500px;
  font-family: 'Cinzel', serif;

}
#for{
  width:240px;
  height:50px;
}
input{
  width:210px;
  margin:10px;
}
h5{
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size:;
}
#card{
  font-family: 'Cinzel', serif;
}
p{
  font-family: 'Cinzel', serif;
}
#search{
  text-align: center;
}

input[type=text]{
  font-size:20px;
  width:240px;
=======
>>>>>>> upstream/dev
}