.svg-wrapper {
  height: 40px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 360px;
  padding: 20px;
 }
 .shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: darkred;
 }
 .text {
  color: darkgoldenrod;
  font-family: 'Cinzel', serif;
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
 }
 @keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
 }
 .svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
 }
 #jum{
   margin-top: 40px;
 }
 .comment{
   width:500px;
   height:180px;
 }
 .jina3{
   margin-left: 70px;
 }
 body{
   background-size:cover;
   background-repeat:no-repeat;
   background-image:url("https://media.istockphoto.com/photos/white-post-it-notes-imprinted-with-contact-us-symbols-on-blue-picture-id925857874?k=6&m=925857874&s=612x612&w=0&h=2H5P2UsXLKrXwGSuS4zhFkuFowG7sFgDH80ke8Ph1_g=");
 }
 .info{
   text-align: center;
   margin-top:80px;
 }