h1{
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 5.5em;
}
img{
  width: 350px;
}
.img-fluid{
  box-shadow: 10px 10px 5px grey;
  
}
p{
  font-size:1em;
  font-family: 'Cinzel', serif;
}